body, html {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  background-image: radial-gradient(50% 50%, #5EC0F9 0%, #2B8DC6 100%);
  font-size: 16px;
}
h1 {
  font-weight: 600;
  font-style: italic;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  margin: 0.75em auto;
  max-width: 700px;
  font-size: 3.5em;
  line-height: 1.1;
}
form {
  max-width: 400px;
  margin: auto;
  color: #ffffff;
}
label {
  width: 100%;
  display: block;
  text-align: left;
  margin: 1em 0 0.25em 0;
  font-size: 1.5em;
  color: #005A93;
}
input[type='text'], input[type='email'] {
  font-size: 2em;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 0.25em;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 8px #2B8DC6;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
input[type='text']:focus, input[type='email']:focus {
  box-shadow: 0 0 8px #0D67A0;
}
input[type='submit'] {
  box-sizing: border-box;
  font-size: 2.25em;
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: button;
  background-image: linear-gradient(#2B8DC6 0%, #1274AD 100%);
  border: none;
  border-top: 1px solid #45A7E0;
  border-radius: 3px;
  color: #DDFFFF;
  text-shadow: 0 1px 1px #0567A0;
  margin-top: 0.67em;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.25em 0;
}
input[type='submit']:hover {
  transform: scale(1.05);
}
p {
  font-size: 1.5em;
  color: #005A93;
}
a, a:visited {
  color: #005A93;
}

@media(max-width: 600px) {
  body {
    font-size: 13px;
  }
}
